.show-button {
  display: none;
}

[itemprop='itemListElement'] > div:first-of-type {
  position: relative;
}

[itemprop='itemListElement'].hidden-listing > div:first-of-type::after {
  content: '';
  display: block;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden-listing .show-button {
  display: block;
}

.hidden-listing .hide-button {
  display: none;
}
